.contenedor3 {
  @apply grid grid-cols-header h-[8vh] content-center;

  &__menu {
    @apply justify-self-end font-bold;
  }

  &__logo {
    @apply hidden md:block max-w-[200px];
  }
}

.navega {
  @apply flex flex-row items-end pt-1 list-none justify-between;

  &__item {
    @apply pl-9 pt-1;
  }
}
