.contenedor {
   @apply w-4/5 mx-auto;
 }


.flexcontenedor {
   @apply flex flex-row flex-wrap gap-6 justify-center;
 }


 .contenedor55 {

  @apply grid grid-cols-5 h-[8vh] content-center;
  display: grid;
  grid-template-rows: 8vh 25vh 35vh;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom:2rem;
}

 .imagen {
  @apply w-full h-full object-cover row-span-full col-span-full;
}

.navega2 {
  @apply row-start-1 col-span-full;
  
}

.descripcion {
  @apply col-start-2 row-start-2 text-white md:row-start-3 md:col-start-2 md:p-3;
  
}


@media screen and (max-width: $mqMinWidth) {
  .contenedor55 {
    width: 100%;
  }
  
//   
}
