<div class="descripcion">
    <h1 class="text-4xl	pt-6 mb-1 text-center font-bold">Club de Ajedrez</h1>
    <h1 class="text-4xl pb-6 text-center font-bold">"El Peón de la obra"</h1>
    <p class="mb-2">En este club podrás desarrollar todo tipo de actividades alrededor del ajedrez.</p>

    <p>Entre semana solemos juntarnos todas las tardes tras nuestra jornada laboral o al terminar las clases
        para jugar y desconectar. Si quieres, puedes acompañarnos echando unas partidas mientras escuchamos
        música y puedes tomarte una taza de café o un refresco.</p>


</div>