<footer>
<div class="footer1">
    <p>
        PEC3 - Herramientas HTML y CSS II - Juan Ferrer Martínez - <strong>
        <a href="mailto:juanferrer437@uoc.edu">juanferrer437@uoc.edu</a> </strong>- UOC 2023
    </p>
</div>

<div class="footer2">
    <div>
        <img src="./assets/images/logo.png" class="footer2__logo2"/>
    </div>
    <div class="footer2__menu"
        <nav>
         <ul class="navega">
            <li class="navega__item"><a href="./index.html">Front Page</a></li>
            <li class="navega__item"><a href="./two.html">Page Two</a></li>
            
        </ul>
    </nav>
    </div>
    <div>
        <a href="https://www.google.es/">
            <i class="fa-brands fa-google-plus-g footer2__social--icono"></i></a>
        <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook footer2__social--icono"></i></a>
        <a href="https://twitter.com/?lang=es">
            <i class="fa-brands fa-twitter footer2__social--icono"></i></a>
    </div>
</div>
</footer>