<footer>
<div class="footer1">
    <p>
        PEC2 - Herramientas HTML y CSS II - Juan Ferrer Martínez - <strong>
        <a href="mailto:juanferrer437@uoc.edu">juanferrer437@uoc.edu</a> </strong>- UOC 2023
    </p>
</div>

<div class="footer2">
    <div>
        <img src="./assets/images/logo.png" class=""/>
    </div>
    <div>
        <nav class="navega2">
            <ul class="navega2__footer">
                <li><a href="./index.html">Front Page</a></li>
                <li><a href="./two.html">Page Two</a></li>
                
            </ul>
        </nav>
    </div>
    <div class="footer2__social">
        <a href="https://www.google.es/">
            <i class="bi bi-google footer2__social--icono"></i></a>
        <a href="https://www.facebook.com/">
            <i class="bi bi-facebook footer2__social--icono"></i></a>
        <a href="https://twitter.com/?lang=es"
            ><i<i class="bi bi-twitter footer2__social--icono"></i></a>
    </div>
</div>
</footer>