<!-- <div class="grid grid-cols-10 h-[8vh]">
    <div class="col-span-3 content-center bg-yellow-200">
    <img src="./assets/images/logo.png" class="max-w-[200px] ml-auto" id="logo">
    </div>
    
      <div class="col-span-7">
       <nav class="navega2">
            <ul class="navega2__header">
                <li class="navega2__header--item"><a href="./two.html">Page Two</a></li>
                
            </ul>
        </nav>
    </div>


</div> -->

<div class="contenedor3">
    <div>
    <img src="./assets/images/logo.png" class="contenedor3__logo" id="logo">
    </div>
    
      <div>
       <nav class="navega2">
            <ul class="navega2__header">
                <li class="navega2__header--item"><a href="./two.html">Page Two</a></li>
                <li class="navega2__header--item"><a href="./three.html">Page Three</a></li>
                <li class="navega2__header--item"><a href="./four.html">Page Four</a></li>
            </ul>
        </nav>
    </div>

</div>